extends base.pug

block content 
    h4 Change Title of video
    form(method="post") 
        input(name="title",placeholder="Video Title", value=video.title, required)
        input(name="description",placeholder="Description",required,maxlength=140,value=video.description)
        input(name="hashtags",placeholder="Hashtags, seperated by comma.",required,value=video.hashtags.join())
        input(value="Save",type="submit")
